# Testing.
pytest-xdist[psutil]
pytest-cov
nbmake

# Formatting.
flake8
black
mypy

# Documentation.
sphinx
sphinx-toolbox
myst-nb
furo
quimb
quimb[tensor]
ply  # For converting a Qasm string to a Cirq circuit.
